h1{
    text-align: center;
    font-weight: bold;
    color:rgb(1, 51, 49);
    text-shadow: 20px;
    background-image: linear-gradient(#009200,#008800,#037403);
}
body{
    background-image: url('./chess.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .outerEdge{
    border: 2px solid rgb(0, 0, 0);
    margin-top:-20px;
    color:black;
}
h2#best{
    color:rgb(5, 150, 145);
    text-align: center;
    font-weight: bold;
}
h2{
    color:rgb(5, 150, 145);
    text-align: center;
    font-weight: bold;
}
nav{
    text-align: center;
    padding: 10px;
    background-image: #009200,#008800,#037403;
    border: 5px;
}
nav a#game1{
    position: center;
    color:rgb(5, 150, 145);
    font-weight: bold;
}
img#best{
 width: 500px;
    position: absolute;
    left: 41%;
    top:20%
}
img#Scholars{
 width: 500px;
    position: absolute;
    left: 41%;
    top:30%
}
img#Rating{
 width: 500px;
    position: absolute;
    left: 41%;
    top:40%;
}
nav#links{ 
padding: 10px;
background-color: rgb(0, 44, 85);
border: 5px;
text-align: center;
line-height: 30px;
 }
 p{
    text-align: center;
    color:rgb(5, 150, 145);
    font-weight: bold;
    background-color: #013601f8;
 }

 nav a#links{
   color: rgb(165, 119, 20);
   padding: 10px;
   margin-right: 10px;
   border: 4px solid rgb(9, 104, 80);
   border-radius:200px;
   font-weight: bold;
 }
 nav a#linkss{
   color: rgb(179, 3, 155);
   padding: 10px;
   margin-right: 10px;
   border: 4px solid rgb(9, 104, 80);
   border-radius:200px;
   font-weight: bold;
 }
footer{ 
    position: fixed;
    bottom: 0;
    text-align: center;
    position: absolute;
    left: 45%;

 }


