h1{
    text-align: center;
    font-weight: bold;
    color: rgba(42, 117, 202, 0.911);
}
body{
    background-image: url('./chess.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .outerEdge{
    border: 2px solid rgb(0, 0, 0);
    margin-top:-20px;
    color:black;
}
button{
    background-color: rgba(42, 117, 202, 0.911);
    color: rgb(0, 0, 0);
    border: none;
    padding: 50px;
    position:center;
    align-self: center;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: rgba(42, 117, 202, 0.911);
   }
 

